.git
.github
.idea
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.DS_Store

node_modules
frontend/node_modules

data
notebooks

*.log

docker/server/observability/grafana/data

storage/.cache
