transformers>=4.57.0,<4.58.0
sentence-transformers[image]>=5.4.0
huggingface_hub
safetensors
accelerate
sentencepiece
torchvision
qwen-vl-utils

pillow
numpy
pandas
tqdm
requests

fastapi
uvicorn[standard]
python-multipart
python-dotenv

jupyterlab
ipykernel

pika
prometheus-client
nvidia-ml-py
