transformers>=4.51.0,<4.58.0
huggingface_hub
safetensors
accelerate
sentencepiece

pillow
numpy
pandas
tqdm
requests

fastapi
uvicorn[standard]
python-multipart
python-dotenv

jupyterlab
ipykernel

pika
