transformers>=4.57.0,<4.58.0
sentence-transformers[image]>=5.4.0
huggingface_hub
safetensors
accelerate
sentencepiece
protobuf
torchvision
qwen-vl-utils
num2words

pillow
numpy
pandas
tqdm
requests
openai

fastapi
uvicorn[standard]
python-multipart
python-dotenv

jupyterlab
ipykernel

pika
prometheus-client
nvidia-ml-py
