@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-spin {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-spin {
  background-size: 300% 300%;
  animation: gradient-spin 4s linear infinite;
}

@font-face {
  font-family: 'BebasNeue'; /* имя, которое ты будешь использовать */
  src: url('/fonts/Bebas Neue Cyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}